<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
</head>
<body">
<p></p>
<a href="/home" class="btn btn-dark" role="button"  style="margin-left: 50px;" >กลับ</a>
    <h1 style="margin-top:40px" align="center">ล็อคอิน</h1>
    <form class="row g-3 needs-validation" novalidate action="/login" method="post">
        <div class="col-12"  align="center" >
          <label for="validationCustomUsername" class="form-label">Username</label>
          <div class="input-group has-validation" style="width:300px">
            <input type="text" class="form-control" name="username" id="username" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Username ไม่ถูกต้อง.
            </div>
          </div>
        </div>
        <div class="col-12"  align="center">
            <label for="validationCustomPasswords" class="form-label">Password</label>
            <div class="input-group has-validation" style="width:300px">
              <input type="password" class="form-control" name="password" id="password" aria-describedby="inputGroupPrepend" required >
              <div class="invalid-feedback">
                Passwords ไม่ถูกต้อง.
              </div>
            </div>
          </div>
        
        
        
        <div class="col-12"  align="center">
          <button class="btn btn-primary" type="submit" value="LogIn">Submit form</button>

        </div>
      </form>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
      </script>
      
</body>
</html>
