<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"
            ><img src="../photo/cosci.png" width="30px" height="30px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor03"
            aria-controls="navbarColor03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>

            </ul>
            <% if (isLogIn) { %>
              <li class="nav-item" style="list-style-type: none">
                <a class="nav-link" href="/logout" >Logout</a>
              </li>
            <% } else { %>
              <li class="nav-item" style="list-style-type: none">
                <a class="nav-link" href="/login" >Login</a>
              </li>
            <% } %>
              
          </div>
        </div>
      </nav>
  
      <h1 style="margin: 20px" align="center">ดูหนัง</h1>
      <div
        id="carouselExampleCaptions"
        class="carousel slide bg-danger"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators" style="margin: 690px">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
        </div>

    <div class="row" align="center">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem">
            <img
              src="../photo/doctor.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Doctor Strange in the Multiverse of Madness</h5>
              <p class="card-text"></p>
              <a
                href="../video/doctor.mp4"
                target="_blank"
                class="btn btn-primary"
                >ดูเรื่องนี้</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem">
            <img
              src="../photo/shangChi.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Shang-Chi and the Legend of the Ten Ring</h5>
              <p class="card-text"></p>
              <a
                href="../video/shangchi.mp4"
                target="_blank"
                class="btn btn-primary"
                >ดูเรื่องนี้</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem">
            <img
              src="../photo/Eternalspor.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Eternals</h5>
              <p class="card-text"></p>
              <a
                href="../video/eternals.mp4"
                target="_blank"
                class="btn btn-primary"
                >ดูเรื่องนี้</a
              >
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="row" align="center">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem">
            <img
              src="../photo/candy.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Candyman</h5>
              <p class="card-text"></p>
              <a
                href="../video/candyman.mp4"
                target="_blank"
                class="btn btn-primary"
                >ดูเรื่องนี้</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem">
            <img
              src="../photo/scream.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Scream</h5>
              <p class="card-text"></p>
              <a
                href="../video/scream.mp4"
                target="_blank"
                class="btn btn-primary"
                >ดูเรื่องนี้</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem">
            <img
              src="../photo/blackadampor.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Black Adam</h5>
              <p class="card-text"></p>
              <a
                href="../video/blackadam.mp4"
                target="_blank"
                class="btn btn-primary"
                >ดูเรื่องนี้</a
              >
            </div>
          </div>
        </div>
</body>
</html>